::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #2f2f2e;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #bbf00b83;
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #d3174f;
    border-radius: 8px;
  }